<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>

  <h1>My blog</h1>

  <h2>First post</h2>
  <p>
    Let me tell you about implicit conversion to <pre>string</pre> in sequelize
  </p>
</body>
